.container {
  margin-top: 20px;
  border: 1px solid #000000;
}

.row {
  /* border: 1px solid #000000; */
  padding: 5px;
}

.col-md-6 {
  border: 1px solid #000000;
  padding: 5px;
}
.col-md-5 {
  border: 1px solid #000000;
  padding: 5px;
}

.col-auto {
  border: 1px solid #000000;
  padding: 5px;
}

.col {
  border: 1px solid #ccc;
  padding: 5px;
}